body {
    padding-top: 50px;
}
.starter-template {
    padding-bottom: 15px;
    text-align: left;
}

.button-bar {
    padding-bottom: 15px;
    text-align: right;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

input[type=number] {
    text-align:right;
}