<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GenPDF Administartion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="container">

        <!-- Header -->
        <div id="header">
            <div id="title">GenPDF Administration</div>
        </div>

        <!-- Content -->
        <div id="content">
            <table>
                <caption>Metadata 관리</caption>
                <tr>
                    <th><a href="/admin/code">Code</a></th>
                    <td><a href="/admin/code/add">Add</a></td>
                    <td><a href="/admin/code/edit">Edit</a></td>
                </tr>
                <tr>
                    <th><a href="/admin/form">Form</a></th>
                    <td><a href="/admin/form/add">Add</a></td>
                    <td><a href="/admin/form/edit">Edit</a></td>
                </tr>
            </table>
        </div>

        <!-- Footer -->
        <div id="footer">

        </div>

    </div>
</body>
</html>