<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Code - GenPDF Administartion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/starter-template.css" />
</head>
<body>

    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">GenPDF</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/admin">Home</a></li>
                    <li class="active"><a href="#">Code</a></li>
                    <li><a href="/admin/form">Form</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <h1>Code 관리</h1>
        </div>

        <table class="table table-striped">
            <caption>변경 Code Set 선택</caption>
            <tr>
                <th>Code Set</th>
                <th>Code Set Name</th>
            </tr>
            <tr th:each="codeSet : ${codeSet}">
                <td><a th:href="@{/admin/code/edit(codeSet=${codeSet.codeSet})}" th:text="${codeSet.codeSet}"></a></td>
                <td th:text="${codeSet.codeSetName}"></td>
            </tr>
        </table>

    </div>
</body>
</html>