<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} + ' - GenPDF Administration'"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/starter-template.css" />
    <script src="/js/jquery-3.2.0.min.js" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/form.js" />
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/">GenPDF</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:class="${title}=='Home'?'active':''"><a href="/admin/">Home</a></li>
                <li th:class="${title}=='Code'?'active':''"><a href="/admin/codes/">Code</a></li>
                <li th:class="${title}=='Form'?'active':''"><a href="/admin/forms/">Form</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <!-- Title -->
    <div class="starter-template">
        <h1 th:text="${title}"></h1>
        <p class="lead">- <span th:text="${form.org}" /></p>
    </div>

    <!-- Message Boxes -->
    <div class="alert alert-success" role="alert" th:if="${result} == 'S'">
        <strong th:text="${message}" />
    </div>
    <div class="alert alert-info" role="alert" th:if="${result} == 'I'">
        <strong th:text="${message}" />
    </div>
    <div class="alert alert-warning" role="alert" th:if="${result} == 'W'">
        <strong th:text="${message}" />
    </div>
    <div class="alert alert-danger" role="alert" th:if="${result} == 'E'">
        <strong th:text="${message}" />
    </div>

    <form th:attr="action=${form.id > 0 ? '/admin/forms/' + form.id + '/edit' : '/admin/forms/create'}"
          th:object="${form}"
          enctype="multipart/form-data"
          method="post">

        <!-- Table -->
        <table class="table table-striped">
            <tr th:if="*{id} > 0">
                <th>No.</th>
                <td><input type="text" th:field="*{id}" readonly="readonly" /></td>
            </tr>
            <tr>
                <th>Document Type</th>
                <td>
                    <select type="text" th:field="*{docType}">
                        <option th:each="docTypeCode : ${documentTypes}"
                                th:value="${docTypeCode.code}"
                                th:text="${docTypeCode.codeName}" />
                    </select>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td><input type="text" style="width:100%" th:field="*{description}" /></td>
            </tr>
            <tr>
                <th>Font Family</th>
                <td>
                    <select type="text" th:field="*{fontCode}" >
                        <option th:each="fontCode : ${fonts}"
                                th:value="${fontCode.code}"
                                th:text="${fontCode.codeName}" />
                    </select>
                </td>
            </tr>
            <tr>
                <th>Margin: Left</th>
                <td><input type="number" step="0.1" th:field="*{marginLeft}" /></td>
            </tr>
            <tr>
                <th>Margin: Right</th>
                <td><input type="number" step="0.1" th:field="*{marginRight}" /></td>
            </tr>
            <tr>
                <th>Margin: Bottom</th>
                <td><input type="number" step="0.1" th:field="*{marginBottom}" /></td>
            </tr>
            <tr>
                <th>Margin: Top</th>
                <td><input type="number" step="0.1" th:field="*{marginTop}" /></td>
            </tr>
            <tr>
                <th>Company Logo Image</th>
                <td>
                    <img th:height="50px" th:attr="src=*{logoImagePath}" />
                    <input type="hidden" th:field="*{logoImagePath}" />
                    <input type="file" accept="image/*" name="logoImage" />
                </td>
            </tr>
            <tr>
                <th>Approval Signature Image</th>
                <td>
                    <img th:height="50px" th:attr="src=*{signImagePath}" />
                    <input type="hidden" th:field="*{signImagePath}" />
                    <input type="file" accept="image/*" name="signImage" />
                </td>
            </tr>
        </table>

        <!-- Button Bar(Bottom) -->
        <div class="button-bar">
            <button type="button" class="btn btn-sm btn-warning" onclick="window.location.href='/admin/forms/'">
                <span class="glyphicon glyphicon-menu-left pull-left"></span>
                <span style="padding-left: 5px">Back</span>
            </button>
            <button th:if="*{id}!=null" type="button" class="btn btn-sm btn-danger open-modal" data-toggle="modal" data-target="#modalDelete" th:attr="data-id=*{id}" >
                <span class="glyphicon glyphicon-trash pull-left"></span>
                <span style="padding-left: 5px">Delete</span>
            </button>
            <button type="submit" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-save pull-left"></span>
                <span style="padding-left: 5px">Save</span>
            </button>
        </div>

    </form>

</div>

<!-- Delete Modal -->
<div id="modalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Delete <span id="code"></span>. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteForm" action="" method="post">
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash pull-left"></span>
                        <span style="padding-left: 5px">Delete</span>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove pull-left"></span>
                        <span style="padding-left: 5px">Close</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>